<p-panel header="Actual data" toggleable="true">
    <p-header>
       <button pButton 
       type="button" 
       label="Refresh" 
       icon="fa-refresh" 
       iconPos="left" 
       style="margin-left:64px"
       (click)="onActualRefresh()"></button>
    </p-header>
    <div *ngIf="actual">
        <div class="ui-g">
            <div class="ui-g-2">Temperature</div>
            <div class="ui-g-10">
                {{actual.temp}}
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-2">Humidity</div>
            <div class="ui-g-10">
                {{actual.humi}}
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Pressure</div>
            <div class="ui-g-10">
                {{actual.press}}
            </div>
        </div>
    </div>
</p-panel>

<p-panel header="Plot" toggleable="true">
    <p-header>
        <span style="margin-left:50px">start:</span>
        <p-calendar [(ngModel)]="start" showTime="showTime" hourFormat="24"></p-calendar>
        <span>stop:</span>
        <p-calendar [(ngModel)]="stop" showTime="showTime" hourFormat="24"></p-calendar>
        <span>step:</span>
        <input type="text" pInputText [(ngModel)]="step" style="width:64px"/>
        <button pButton 
        type="button" 
        label="Redraw" 
        icon="fa-refresh" 
        iconPos="left" 
        style="margin-left:32px"
        (click)="dataReady()"></button>
    </p-header>
   <p-chart #temp type="line" [data]="plotDataTemp" [options]="plotOpts"></p-chart>
   <p-chart #humi type="line" [data]="plotDataHumi" [options]="plotOpts"></p-chart>
   <p-chart #press type="line" [data]="plotDataPress" [options]="plotOpts"></p-chart>
</p-panel>